aside {
  background-color: var(--surface-secondary);
  

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
   & span {
      color: var(--text-highlight);
    }
  }
}

@media (width>= 80em) {
  aside{
    padding-block-start: 4rem;
  }
}